<!DOCTYPE html>
<html>
    <head>
        <title>Message Me</title>
    </head>
    <body>
        <header>
            <h1>Message Me</h1>
        </header>
        <div id="content">
            <p>Send a message to me:</p>
            <form action="/SendMessage" method="post">
                <input name="msg" type="text" />
                <input type="submit" value="Send" />
            </form>
        </div>
        <footer>
            &copy; 2012.
        </footer>
    </body>
</html>